.navbar {
    padding: 1rem;
    background-color: #f5f6f7
  
}
/*Segunda barra de navegacion About y Jobs */
.navbar-text {
    font-weight: bold;
    align-items: flex-start;
}
.container-fluid{
    align-items: left;
    justify-content: space-between;
}
/*estilos generales*/
#navbar-toogler {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
    
}

.Ableton{
    max-width: 100%;
    height: auto;
    padding: 50px;
    margin: 25px;


}
/* texto despues de imagen, falta c
.seccion-texto1{
    margin: 15px 25px 15px 25px;
    padding: 10px;
    justify-content: center;
    font-size: 1.2rem;
}
*/
p{
    margin: 15px 220px 2px 220px;
    text-align: justify;
    justify-content: center;
    font-size: 16px
}
.seccion2{
    margin: 15px 220px 15px 220px;
    text-align: justify;
    justify-content: center;
    font-size: 15px;
}
.seccion3{
    margin: 15px 220px 2px 220px;
    text-align: justify;
    justify-content: center;
    font-size: 20px;

}

}
/*collage tres imagenes*/
.container-green{
    position:relative;
    background-color:#b6ffc0;
    height: 950px;
    width: 700px;
    margin: 50px;
}
.container-purple{
    display: flex;
    align-items: center;
    position:relative;
    background-color:#d5b3ff;
    height: 680px;
    width: 900px;
    margin:  15px 200px 15px 200px;
    padding: 100px;
}
.container-blue{
    display: flex;
    align-items: center;
    position:relative;
    background-color:#b1c5ff;
    height:500px;
    width: 1000px;
    margin:  15px 200px 15px 200px;
    padding: 100px;
}
.container-blue .texto{
    text-justify: auto;
    margin:100px;
}
.cola{
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
}
.colb{
    position: absolute;
    margin-left: 50px;
    margin-top: 450px;
}
.colc{
    position: absolute;
    margin-top: 180px;
    margin-left: 500px;
    height: 650px;
    width: 500px;
}

.Ableton88 {
    margin-left: -180px;
}

.Ableton89{
     position: absolute;
     margin-left: 400px;
     height: 450px;
     width: 450px;
}
.Ableton90{
    margin-left: -100px;
    height: 500px;
    width: 500px;
}
.seccion3-black{
    text-align: justify;
    color: black;
    width: 300px;
    height:300px;
    font-size: 20px;
    margin: 150px 10px 10px -20px;
  
    }
    .seccion3-blue{
    width: 200px;
    color: blue;
    font-size: 20px;
    margin: 0px 10px 10px -20px;
    margin-top: -150px;
    }


.container-footer{
    display:flexbox;
  

}

  h1{
    font-size:45px;
   text-align: left;
   margin-left: 200px;
}






/*Adaptable (responive)*/
@media screen and (767px) {
    .navbar-brand{
        display:none;
    }

@media screen and (min-width: 700px){
    .hero-inferior-imagen{
        max-width: 600px;
        }
    }
}
@media screen and (max-width:400px){
    .overlay i{
        font-size: 40px;
    }
}